header h1 {
    font-family: 'Lobster', cursive;
    background-color: black;
    margin: 0;
    padding: 20px 20px 20px 40px;
}
h1 a {
    color: #fca205;
}
h1 a:hover {
    color: #fca205;
    text-decoration: none;
}
section {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.date {
    float: right;
    color: #828282;
}
.post {
    padding-bottom: 15px;
}
.post h3 a, .post h3 a:visited {
    font-family: 'Lobster', cursive;
    color: #000000;
}
.post_list {
    margin-top: 50px;
}
